body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
    background-color: #f4f6f9;
}

.div_nombre {
    background-color: #000000;
    border-left: 4px solid #9ea1a3;
    padding: 10px;
    margin: 20px 0;
    color: aliceblue;
}

.seccion {
    background-color: #2040b3;
    border-left: 4px solid #242d3e;
    color: aliceblue;
    padding: 10px;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}
nav a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #1542bd;
    font-weight: bold;
}
footer{
    text-align: center;
    padding: 2px;
    background-color: #222;
    color: #fff;
}